# ==========================================
# Virtual Environment (Віртуальне середовище)
# ==========================================
.venv/
venv/
ENV/
env/

# ==========================================
# Python Cache & Compiled Files (Тимчасові файли)
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# ==========================================
# IDE & Editors (Налаштування VS Code та PyCharm)
# ==========================================
.vscode/
.idea/

# ==========================================
# OS Files (Системні файли ОС)
# ==========================================
.DS_Store
Thumbs.db